BRIDGIT_PUBLIC_URL=https://bridge.example.com
BRIDGIT_LISTEN_ADDR=:8080

BRIDGIT_OIDC_ISSUER=https://id.example.com
BRIDGIT_OIDC_CLIENT_ID=replace-with-pocket-id-client-id
BRIDGIT_OIDC_CLIENT_SECRET=replace-with-pocket-id-client-secret

BRIDGIT_SAML_CERT_FILE=./saml.crt
BRIDGIT_SAML_KEY_FILE=./saml.key
BRIDGIT_SAML_SP_METADATA_FILE=./omada-sp-metadata.xml

BRIDGIT_USERNAME_CLAIM=preferred_username
BRIDGIT_GROUPS_CLAIM=groups
BRIDGIT_TRANSACTION_TTL=1m
BRIDGIT_SESSION_TTL=8h
BRIDGIT_LOG_LEVEL=info
